#
# MIPS Platform Specific Drivers
#

menuconfig MIPS_PLATFORM_DEVICES
	bool "MIPS Platform Specific Device Drivers"
	default y
	help
	  Say Y here to get to see options for device drivers of various
	  MIPS platforms, including vendor-specific netbook/laptop/pc extension
	  drivers.  This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled.
